@font-face {
  font-family: "poppins-mid";
  src: url("/src/assets/fonts/Poppins-Medium.ttf") format("tff");
  font-display: swap;
}

@font-face {
  font-family: "poppins-bold";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("tff");
  font-display: swap;
}

@font-face {
  font-family: "poppins-semibold";
  src: url("/src/assets/fonts/Poppins-SemiBold.ttf") format("tff");
  font-display: swap;
}
@font-face {
  font-family: "poppins-black";
  src: url("/src/assets/fonts/Poppins-Black.ttf") format("tff");
  font-display: swap;
}


html {
  font-family: "poppins-mid", Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  color: #2b2a28;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.module {
  clip-path: polygon(75% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}
body::-webkit-scrollbar {
    width: 1em;
  }
  
  
  body::-webkit-scrollbar-thumb {
    background-color: #BBC274;
    outline: 1px solid #BBC274;
    border-radius: 8px;
  }
  
  
  ::selection {
    color: white;
    background: #BBC274;
  }