---
import Contact from "../components/Contact.astro";
import HowWeWork from "../components/HowWeWork.astro";
import Info from "../components/Info.astro";
import { StaggerTestimonials } from "../components/Opinions";
import Navigation from "../components/ui/Navigation.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import Carousel from "../components/Carousel.astro";
import HeadingTwo from "../components/ui/HeadingTwo.astro";

const allOpinions = await getCollection("opinions");

const opinions = (allOpinions as any[]).map((opinion, key) => {
  return {
    tempId: key,
    testimonial: opinion.data.description,
    by: opinion.data.by,
  };
});

const allBanners = await getCollection("banners");

const banners = allBanners.map((banner) => banner.data.bannerImage);
---

<Layout title="Kuba Meble">
  <div
    class="relative md:h-screen md:flex md:flex-col md:justify-center overflow-hidden"
  >
    <Navigation />
    <!-- <SwipeCarousel banners={banners} client:load /> -->
    <Carousel />
    <span class="absolute bottom-0 left-0 -z-10 hidden lg:block"
      ><svg
        width="523"
        height="401"
        viewBox="0 0 523 401"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M200.627 55.5388C188.596 52.6812 161.462 56.5114 133.88 84.8007C45.7794 175.238 -13.4456 301.745 -32.6544 346.769C-34.1446 350.261 -36.4271 353.6 -39.3714 356.595C-42.3158 359.591 -45.8644 362.184 -49.8147 364.228C-53.7649 366.271 -58.0395 367.724 -62.3942 368.504C-66.749 369.284 -71.0987 369.376 -75.195 368.774C-79.2913 368.172 -83.054 366.888 -86.2682 364.996C-89.4824 363.104 -92.0852 360.64 -93.928 357.745C-95.7708 354.85 -96.8174 351.581 -97.0082 348.125C-97.1991 344.669 -96.5303 341.093 -95.04 337.601C-75.5289 291.951 -12.7667 156.243 84.7159 56.1841C126.912 12.8964 184.407 -7.04932 229.089 3.44019C251.376 8.66822 268.831 21.5517 276.092 40.7898C283.294 59.8661 279.609 82.7576 266.372 106.77C224.965 181.964 170.948 283.146 150.039 330.522C147.296 336.749 148.283 340.356 149.404 342.223C150.663 344.333 153.025 345.891 156.269 346.426C160.705 347.004 165.556 346.104 169.811 343.914C175.576 341.172 184.037 335.233 192.545 323.103C199.703 312.828 207.078 301.959 214.692 290.819C238.107 256.452 263.388 219.268 290.687 187.444C319.077 154.374 358.813 133.491 395.883 136.56C414.396 138.102 429.839 145.77 438.881 158.4C447.833 170.916 449.497 186.77 445.149 203.51C440.519 221.457 435.693 234.918 431.38 247.014L431.057 247.978C426.807 259.301 423.161 270.685 420.129 282.094C419.471 284.671 419.48 287.235 420.155 289.616C420.83 291.998 422.155 294.143 424.043 295.909C425.78 297.477 427.105 298.056 427.802 298.241C431.807 297.027 434.943 295.029 439.19 289.867C445.123 282.579 450.809 271.852 458.89 254.476C462.159 247.466 468.541 241.313 476.632 237.372C484.724 233.431 493.862 232.025 502.036 233.462C510.211 234.899 516.752 239.062 520.221 245.035C523.69 251.009 523.803 258.303 520.534 265.313C512.824 281.855 504.305 299.356 492.501 313.837C479.409 329.819 461.364 343.248 435.867 349.822C407.911 357.078 384.417 347.772 371.061 335.515C363.447 328.506 358.09 319.963 355.35 310.459C352.609 300.955 352.549 290.71 355.172 280.413C358.94 265.65 363.245 253.667 367.334 242.278L367.824 240.848C372.049 229.042 376.213 217.331 380.273 201.652C381.969 195.075 380.521 192.189 379.921 191.344C379.729 191.019 379.435 190.75 379.062 190.561C378.69 190.372 378.25 190.267 377.78 190.256C375.626 190.055 361.348 191.22 342.962 212.676C318.359 241.305 296.16 273.975 273.311 307.509C265.297 319.274 257.191 331.183 248.879 343.058C219.603 384.907 173.04 406.166 132.282 399.38C92.6101 392.784 70.4826 360.336 87.9254 320.776C110.015 270.688 165.354 167.183 206.508 92.4849C214.371 78.2025 214.056 69.3133 212.265 64.5686C211.443 62.3259 209.977 60.3513 207.972 58.7871C205.967 57.2229 203.473 56.1082 200.67 55.5231L200.627 55.5388ZM428.335 298.376L428.184 298.358C428.269 298.326 428.323 298.343 428.335 298.376Z"
          fill="#BBC274"></path>
      </svg>
    </span>
    <span class="absolute top-0 right-0 -z-10 hidden lg:block"
      ><svg
        width="643"
        height="691"
        viewBox="0 0 643 691"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_39_190)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M342.127 167.602C330.586 167.316 307.443 176.412 290.772 208.792C237.544 312.289 220.222 444.172 215.726 490.733C215.377 494.344 214.278 497.97 212.492 501.403C210.705 504.837 208.266 508.011 205.315 510.744C202.363 513.477 198.956 515.716 195.288 517.332C191.62 518.949 187.763 519.912 183.938 520.166C180.113 520.42 176.394 519.961 172.993 518.814C169.592 517.667 166.577 515.855 164.119 513.481C161.661 511.107 159.808 508.219 158.667 504.98C157.526 501.741 157.118 498.215 157.467 494.604C162.057 447.389 179.95 306.068 238.85 191.559C264.351 142.014 310.066 111.522 352.895 112.47C374.256 112.938 393.456 121.639 405.341 138.419C417.129 155.057 420.271 177.505 415.202 202.939C399.368 282.579 379.581 389.399 374.229 438.533C373.529 444.99 375.423 448.211 376.949 449.756C378.665 451.503 381.211 452.505 384.258 452.359C388.379 452.013 392.456 450.183 395.638 447.25C400.014 443.488 405.897 436.153 410.083 422.937C413.586 411.753 417.115 399.962 420.782 387.865C432.026 350.563 444.145 310.212 459.57 274.538C475.619 237.463 505.219 209.659 539.169 205.103C556.127 202.836 572.065 206.998 583.684 217.152C595.19 227.217 601.13 241.915 601.952 258.664C602.861 276.614 602.335 290.349 601.884 302.687L601.867 303.667C601.254 315.26 601.198 326.788 601.697 338.217C601.834 340.793 602.562 343.222 603.834 345.345C605.105 347.467 606.89 349.234 609.072 350.529C611.062 351.665 612.408 351.947 613.082 351.982C616.315 350.025 618.553 347.499 620.894 341.749C624.142 333.643 626.204 322.327 628.535 304.223C629.483 296.917 633.451 289.798 639.566 284.432C645.681 279.065 653.442 275.891 661.142 275.607C668.842 275.324 675.85 277.954 680.625 282.919C685.399 287.884 687.549 294.778 686.601 302.084C684.367 319.322 681.68 337.632 675.211 353.74C668.017 371.532 655.683 387.899 634.771 399.268C611.858 411.778 588.273 407.687 572.909 398.753C564.144 393.641 556.962 386.619 551.846 378.16C546.73 369.7 543.798 359.998 543.246 349.705C542.462 334.948 542.938 322.719 543.388 311.096L543.424 309.642C543.878 297.595 544.304 285.653 543.523 269.968C543.189 263.39 541.086 260.945 540.313 260.264C540.05 259.995 539.712 259.8 539.327 259.695C538.941 259.591 538.519 259.58 538.096 259.664C536.117 259.907 523.7 263.888 513.318 287.936C499.401 320.036 488.765 355.486 477.792 391.885C473.944 404.655 470.055 417.58 465.972 430.513C451.598 476.091 416.01 505.627 377.724 507.402C340.461 509.137 311.595 482.826 316.05 441.801C321.694 389.858 342.009 280.568 357.757 201.451C360.762 186.324 357.984 177.959 355.052 173.821C353.688 171.859 351.825 170.282 349.596 169.203C347.367 168.124 344.827 167.569 342.161 167.579L342.127 167.602ZM613.596 352.003L613.456 352.016C613.523 351.97 613.576 351.975 613.596 352.003Z"
            fill="#BBC274"></path>
        </g>
        <defs>
          <clipPath id="clip0_39_190">
            <rect
              width="574"
              height="483"
              fill="white"
              transform="translate(0 294.04) rotate(-34.8548)"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
  </div>
  <main>
    <HowWeWork />
    <div class="container flex justify-center">
      <HeadingTwo h2="Opinie" />
    </div>

    <StaggerTestimonials opinions={opinions} client:load />
    <Info />
    <Contact />
  </main>
</Layout>
