---
import HowWeWork from "../components/HowWeWork.astro";
import { SwipeCarousel } from "../components/SwipeCarousel";
import Navigation from "../components/ui/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import { StaggerTestimonials } from "../components/Opinions";
import Info from "../components/Info.astro";
import Contact from "../components/Contact.astro";

import { Image } from "astro:assets";
import line1 from "../img/svg/line1.svg";
import line2 from "../img/svg/line2.svg";
import { getCollection } from "astro:content";
import HeadingTwo from "../components/ui/HeadingTwo.astro";
import Container from "../components/ui/Container.astro";
import Carousel from "../components/Carousel.astro";

const allBanners = await getCollection("banners");
const allOpinions = await getCollection("opinions");

const banners = (allBanners as any[]).map((banner) => banner.data.bannerImage);
const opinions = (allOpinions as any[]).map((opinion, key) => {
  return {
    tempId: key,
    testimonial: opinion.data.description,
    by: opinion.data.by,
  };
});
---

<Layout title="Kuba Meble">
  <div
    class="relative md:h-screen md:flex md:flex-col md:justify-center overflow-hidden"
  >
    <Navigation />
    <!-- <SwipeCarousel banners={banners} client:load /> -->
    <Carousel />
    <span class="absolute bottom-0 left-0 -z-10 hidden lg:block"
      ><Image src={line1} alt="" /></span
    >
    <span class="absolute top-0 right-0 -z-10 hidden lg:block"
      ><Image src={line2} alt="" /></span
    >
  </div>
  <main>
    <HowWeWork />
    <div class="container flex justify-center">
      <HeadingTwo h2="Opinie" />
    </div>

    <StaggerTestimonials opinions={opinions} client:load />
    <Info />
    <Contact />
  </main>
</Layout>
