---
import HeadingThree from "../components/ui/HeadingThree.astro";
import HeadingTwo from "../components/ui/HeadingTwo.astro";
import Section from "../components/ui/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kuba Meble - Polityka cookie">
  <Section>
    <HeadingTwo h2="Polityka plików cookie" />

    <HeadingThree h3="1. Wprowadzenie" />
    <p>
      Niniejsza polityka plików cookie wyjaśnia, jak używamy plików cookie na
      stronie internetowej Kuba Meble oraz Twoje możliwości ich kontrolowania.
      Prosimy o uważne przeczytanie niniejszej polityki, aby dowiedzieć się
      więcej o plikach cookie i ich zastosowaniu na naszej stronie.
    </p>

    <HeadingThree h3="2. Co to są pliki cookie?" />
    <p>
      Pliki cookie to małe pliki tekstowe przechowywane na Twoim komputerze lub
      urządzeniu mobilnym podczas odwiedzania strony internetowej. Są one
      szeroko stosowane w celu zapewnienia właściwego funkcjonowania strony oraz
      śledzenia zachowań użytkowników.
    </p>
    <HeadingThree h3="3. Jakie pliki cookie używamy?" />
    <p>
      Na naszej stronie stosujemy następujące rodzaje plików cookie: Pliki
      cookie niezbędne do działania strony: Te pliki są niezbędne do zapewnienia
      prawidłowego działania strony. Nie zbierają one żadnych informacji na Twój
      temat. Pliki cookie analityczne: Są to pliki cookie, które pomagają nam
      analizować sposób korzystania z naszej strony, np. liczba odwiedzających,
      odwiedzane strony, czas spędzony na stronie itp. Te informacje pomagają
      nam lepiej zrozumieć, jak nasi użytkownicy korzystają ze strony, co z
      kolei pozwala nam ulepszać nasze usługi.
    </p>
    <HeadingThree h3="4. Jak kontrolować pliki cookie?" />
    <p>
      Możesz kontrolować oraz usuwać pliki cookie według własnych preferencji.
      Możesz także ustawienia przeglądarki internetowej zmienić tak, aby
      blokować pliki cookie lub powiadamiać Cię o ich wysłaniu na Twoje
      urządzenie. Pamiętaj jednak, że blokowanie plików cookie może wpłynąć na
      funkcjonalność niektórych części naszej strony.
    </p>
    <HeadingThree h3="5. Informacje kontaktowe" />
    <p>
      Jeśli masz jakiekolwiek pytania dotyczące naszej polityki plików cookie
      lub sposobu ich używania, skontaktuj się z nami pod adresem
      plewameble@gmail.com.
    </p>
    <HeadingThree h3="6. Zmiany w polityce plików cookie" />
    <p>
      Zastrzegamy sobie prawo do aktualizacji niniejszej polityki plików cookie
      w dowolnym momencie. W przypadku zmiany polityki, zaktualizowana wersja
      będzie dostępna na naszej stronie. Ostatnia aktualizacja: 09.05.2024
    </p>
  </Section>
</MainLayout>
