---
import HeadingThree from "../components/ui/HeadingThree.astro";
import HeadingTwo from "../components/ui/HeadingTwo.astro";
import Section from "../components/ui/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Kuba Meble - Polityka prywatności">
  <Section>
    <HeadingTwo h2="Polityka prywatności" />

    <HeadingThree h3="1. Wprowadzenie" />
    <p>
      Niniejsza polityka prywatności wyjaśnia, jak zbieramy, wykorzystujemy oraz
      chronimy Twoje dane osobowe podczas korzystania z naszej strony
      internetowej. Dbamy o Twoją prywatność i zobowiązujemy się do ochrony
      wszelkich informacji, które nam przekazujesz. Prosimy o uważne
      przeczytanie tej polityki, aby dowiedzieć się więcej o naszych praktykach
      dotyczących danych osobowych.
    </p>

    <HeadingThree h3="2. Jakie dane osobowe zbieramy?" />
    <p>
      Podczas korzystania z naszej strony internetowej możemy zbierać
      następujące dane osobowe:
    </p>
    <ul>
      <li>
        Informacje podane dobrowolnie przez Ciebie poprzez formularze
        kontaktowe.
      </li>
      <li>
        Dane zbierane automatycznie, takie jak adres IP, rodzaj przeglądarki,
        czas spędzony na stronie itp., za pomocą plików cookie i podobnych
        technologii.
      </li>
    </ul>
    <HeadingThree h3="3. Jak wykorzystujemy Twoje dane osobowe?" />
    <p>Twoje dane osobowe wykorzystujemy w następujących celach:</p>
    <ul>
      <li>
        Do udzielenia odpowiedzi na Twoje zapytania lub pytania złożone przez
        formularz kontaktowy.
      </li>
      <li>
        Do analizy sposobu korzystania z naszej strony w celu jej ulepszania i
        dostosowania do potrzeb użytkowników.
      </li>
      <li>Do przestrzegania przepisów prawnych.</li>
    </ul>
    <HeadingThree h3="4. Udostępnianie danych osobowych" />
    <p>
      Nie sprzedajemy, nie wymieniamy się ani nie udostępniamy Twoich danych
      osobowych osobom trzecim bez Twojej zgody, chyba że jest to wymagane przez
      prawo lub jest niezbędne do wykonania usług związanych z naszą stroną.
    </p>
    <HeadingThree h3="5. Bezpieczeństwo danych osobowych" />
    <p>
      Dbamy o bezpieczeństwo Twoich danych osobowych i podejmujemy odpowiednie
      środki techniczne i organizacyjne, aby je chronić przed nieuprawnionym
      dostępem, utratą, uszkodzeniem lub nieuprawnionym ujawnieniem.
    </p>
    <HeadingThree h3="6. Kontakt" />
    <p>
      Jeśli masz jakiekolwiek pytania dotyczące naszej polityki prywatności lub
      sposobu przetwarzania Twoich danych osobowych, skontaktuj się z nami pod
      adresem plewameble@gmail.com.
    </p>
    <HeadingThree h3="7. Zmiany w polityce prywatności" />
    <p>
      Zastrzegamy sobie prawo do aktualizacji niniejszej polityki prywatności w
      dowolnym momencie. W przypadku zmiany polityki, zaktualizowana wersja
      będzie dostępna na naszej stronie. Ostatnia aktualizacja: 09.05.2024
    </p>
  </Section>
</MainLayout>
