---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import HeadingTwo from "../components/ui/HeadingTwo.astro";
import Section from "../components/ui/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = await getCollection("realizations");
---
<MainLayout title="Kuba Meble - Realizacje">
  <Section>
    <HeadingTwo h2="Realizacje" />

    <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-4">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.slug}
            title={post.data.title}
            image={post.data.mainImage}
          />
        ))
      }
    </div>
  </Section>
</MainLayout>