---
import HeadingTwo from "./ui/HeadingTwo.astro";
import Section from "./ui/Section.astro";

import { Image } from "astro:assets";
import phone from "../img/svg/phone.svg"
import mail from "../img/svg/mail.svg"
import location from "../img/svg/location.svg"
import nip from "../img/svg/nip.svg"
---

<Section id="contact">
  <div class="relative container flex flex-col items-center">
    <HeadingTwo class="text-center" h2="Kontakt" />
    <div class="flex flex-col lg:flex-row justify-between w-full lg:space-x-8">
      <div class="w-full lg:w-1/2">
        <div class="flex items-center mb-6">
          <Image src={phone} alt="" />
          <div class="flex flex-col justify-center ml-4">
            <h4 class="font-black text-main">Telefon</h4>
            <a class="font-bold text-xl md:text-2xl" href="#">+48 736 406 807</a>
          </div>
        </div>

        <div class="flex items-center mb-6">
          <Image src={mail} alt="" />
          <div class="flex flex-col justify-center ml-4">
            <h4 class="font-black text-main">Email</h4>
            <a class="font-bold text-xl md:text-2xl" href="#">plewameble@gmail.com</a>
          </div>
        </div>

        <div class="flex items-center mb-6">
          <Image src={location} alt="" />
          <div class="flex flex-col justify-center ml-4">
            <h4 class="font-black text-main">Adres</h4>
            <a class="font-bold text-xl md:text-2xl" href="#"
              >Kowalewo Pomorskie, Odrodzenia 22</a
            >
          </div>
        </div>

        <div class="flex items-center mb-10">
          <Image src={nip} alt="" />
          <div class="flex flex-col justify-center ml-4">
            <h4 class="font-black text-main">NIP</h4>
            <p class="font-bold text-xl md:text-2xl">5030089148</p>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2">
        <form class="flex flex-col" action="https://formsubmit.co/oskar.malinowski05@gmail.com" method="POST">
          <input
            class="bg-main border-2 border-second rounded-md placeholder-second px-4 py-2 mb-6 focus:outline-none focus:ring focus:ring-main"
            type="text"
            required
            placeholder="Imię *"
          />
          <input
            class="bg-main border-2 border-second rounded-md placeholder-second px-4 py-2 mb-6 focus:outline-none focus:ring focus:ring-main"
            type="text"
            placeholder="Nazwisko *"
            required
          />
          <input
            class="bg-main border-2 border-second rounded-md placeholder-second px-4 py-2 mb-6 focus:outline-none focus:ring focus:ring-main"
            type="text"
            placeholder="Numer telefonu"
          />
          <input
            class="bg-main border-2 border-second rounded-md placeholder-second px-4 py-2 mb-6 focus:outline-none focus:ring focus:ring-main"
            type="email"
            required
            placeholder="Email *"
          />
          <textarea
            class="bg-main border-2 border-second rounded-md placeholder-second px-4 py-2 mb-6 focus:outline-none focus:ring focus:ring-main"
            placeholder="Wiadomość *" required></textarea>
          <input
            class="bg-main border-2 border-second rounded-md placeholder-second px-4 py-2 w-min self-end cursor-pointer mb-10 md:mb-0 hover:"
            type="submit"
            value="Wyślij"
          />
        </form>
      </div>
    </div>
    
  </div>
</Section>
