---
import HeadingTwo from "./ui/HeadingTwo.astro";
import HeadingThree from "./ui/HeadingThree.astro";
import Section from "./ui/Section.astro";

import { Image } from "astro:assets";
import measurement from "../../public/img/svg/measurement.svg";
import project from "../../public/img/svg/project.svg";
import question from "../../public/img/svg/question.svg";
import money from "../../public/img/svg/money.svg";
import contact from "../../public/img/svg/contact.svg";
---

<Section id="how-we-work">
  <div class="relative container">
    <HeadingTwo h2="Jak pracujemy" />

    <div class="grid grid-rows-4 grid-cols-1 md:grid-cols-6 md:grid-rows-2">
      <div
        class="md:row-end-2 md:col-span-3 lg:col-span-2 mb-6 md:mr-10 md:mb-10"
      >
        <svg
          width="70"
          height="70"
          viewBox="0 0 76 76"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M38 38C34.5167 38 31.5347 36.7597 29.0542 34.2791C26.5736 31.7986 25.3334 28.8166 25.3334 25.3333C25.3334 21.85 26.5736 18.868 29.0542 16.3875C31.5347 13.9069 34.5167 12.6666 38 12.6666C41.4834 12.6666 44.4653 13.9069 46.9459 16.3875C49.4264 18.868 50.6667 21.85 50.6667 25.3333C50.6667 28.8166 49.4264 31.7986 46.9459 34.2791C44.4653 36.7597 41.4834 38 38 38ZM12.6667 63.3333V54.4666C12.6667 52.6722 13.129 51.0234 14.0537 49.5203C14.9784 48.0172 16.2049 46.8687 17.7334 46.075C21.0056 44.4388 24.3306 43.2123 27.7084 42.3953C31.0861 41.5783 34.5167 41.1687 38 41.1666C41.4834 41.1645 44.9139 41.5741 48.2917 42.3953C51.6695 43.2165 54.9945 44.4431 58.2667 46.075C59.7972 46.8666 61.0249 48.0151 61.9495 49.5203C62.8742 51.0255 63.3355 52.6743 63.3334 54.4666V63.3333H12.6667ZM19 57H57V54.4666C57 53.8861 56.8554 53.3583 56.5662 52.8833C56.277 52.4083 55.8938 52.0389 55.4167 51.775C52.5667 50.35 49.6903 49.2817 46.7875 48.5703C43.8847 47.8589 40.9556 47.5021 38 47.5C35.0445 47.4978 32.1153 47.8546 29.2125 48.5703C26.3097 49.286 23.4334 50.3542 20.5834 51.775C20.1084 52.0389 19.7252 52.4083 19.4339 52.8833C19.1425 53.3583 18.9979 53.8861 19 54.4666V57ZM38 31.6666C39.7417 31.6666 41.2332 31.047 42.4745 29.8078C43.7159 28.5686 44.3355 27.0771 44.3334 25.3333C44.3312 23.5895 43.7116 22.0991 42.4745 20.862C41.2374 19.6248 39.7459 19.0042 38 19C36.2541 18.9957 34.7637 19.6164 33.5287 20.862C32.2937 22.1075 31.673 23.598 31.6667 25.3333C31.6604 27.0686 32.281 28.5601 33.5287 29.8078C34.7764 31.0555 36.2668 31.6751 38 31.6666Z"
            fill="#BBC274"></path>
        </svg>

        <HeadingThree h3="Kontakt" />
        <p>
          Skontaktuj się z nami przez telefon, SMS, WhatsApp, media
          społecznościowe lub formularz na stronie. Konsultacja i wycena są
          bezpłatne!
        </p>
      </div>

      <div class="md:row-end-2 md:col-span-3 lg:col-span-2 mb-6 md:mb-10">
        <svg
          width="70"
          height="70"
          viewBox="0 0 74 74"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M38.3215 39.6428V52.8571C42.9716 52.4396 44.9286 49.835 44.9286 46.3953C44.9286 43.0825 43.4063 41.1228 38.3215 39.6428ZM34.3572 33.0357V21.1428C30.0321 21.6912 27.75 24.2218 27.75 26.9968C27.75 29.7718 29.5525 31.816 34.3572 33.0357ZM38.11 34.0096L39.5266 34.3756C47.286 36.2375 51.5357 39.5332 51.5357 46.0333C51.5357 53.5099 45.6342 57.7517 38.11 58.3014V63.4286H34.7761V58.3014C27.2809 57.7213 21.3503 53.3579 21.1429 46.0333H27.2505C27.7817 49.6038 30.0255 52.2281 34.7761 52.7461V39.4433L33.5656 39.1381C26.0705 37.3369 22.0282 33.8576 22.0282 27.6628C22.0282 20.827 27.3404 16.3104 34.7761 15.7303V10.5714H38.11V15.7289C45.4862 16.3394 50.8275 20.9169 51.064 27.8451H44.926C44.5427 23.9998 41.8867 21.7718 38.11 21.2829V34.0096Z"
            fill="#BBC274"></path>
        </svg>

        <HeadingThree h3="Wstępna wycena" />
        <p>
          Po uzyskaniu podstawowych informacji, przygotujemy wstępną wycenę.
          Posiadanie projektu lub odręcznego rysunku pomieszczenia ułatwi
          wycenę.
        </p>
      </div>

      <div
        class="md:row-end-3 md:col-span-3 lg:col-span-2 mb-6 md:mb-0 md:mr-10"
      >
        <svg
          width="70"
          height="70"
          viewBox="0 0 70 69"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.8498 31.072C18.3229 28.5811 13.9995 30.3459 13.9995 33.8663V50.5535C13.9995 51.7724 14.4911 52.9413 15.3662 53.8032C16.2414 54.6651 17.4283 55.1493 18.6659 55.1493H35.6099C39.1844 55.1493 40.9763 50.8913 38.4471 48.4027L20.8498 31.072ZM34.0326 50.5535H18.6659V35.4196L34.0326 50.5535Z"
            fill="#BBC274"></path>
          <path
            d="M7.28203 2.11127e-08C6.32574 2.11127e-08 5.37882 0.185501 4.49532 0.545913C3.61182 0.906325 2.80906 1.43459 2.13286 2.10054C0.767212 3.4455 0 5.26965 0 7.1717V61.2777C0 63.3089 0.819326 65.257 2.27774 66.6933C3.73615 68.1296 5.71418 68.9365 7.77668 68.9365H62.7174C64.1577 68.9367 65.5658 68.5161 66.7634 67.7281C67.961 66.94 68.8944 65.8199 69.4456 64.5094C69.9969 63.1989 70.1411 61.7568 69.86 60.3656C69.579 58.9743 68.8854 57.6964 67.8669 56.6934L12.4315 2.10027C11.7552 1.43433 10.9524 0.906098 10.0689 0.545733C9.18532 0.185368 8.23835 -7.22438e-05 7.28203 2.11127e-08ZM4.66647 7.1717C4.66617 6.662 4.8194 6.16368 5.10678 5.73979C5.39416 5.3159 5.80277 4.9855 6.28089 4.7904C6.75901 4.59531 7.28516 4.5443 7.79273 4.64382C8.3003 4.74334 8.76649 4.98892 9.13229 5.34948L10.9289 7.11885L8.49298 9.51324C8.37672 9.62016 8.28351 9.74903 8.21888 9.89218C8.15426 10.0353 8.11955 10.1898 8.11683 10.3465C8.11411 10.5031 8.14343 10.6587 8.20304 10.8039C8.26266 10.9491 8.35134 11.0811 8.46382 11.1918C8.5763 11.3026 8.71026 11.39 8.85774 11.4487C9.00521 11.5074 9.16318 11.5363 9.32222 11.5336C9.48126 11.5309 9.63813 11.4967 9.78348 11.4331C9.92883 11.3694 10.0597 11.2776 10.1682 11.1631L12.6018 8.76873L17.3406 13.4334L15.4927 15.258C15.3764 15.3649 15.2832 15.4937 15.2186 15.6369C15.154 15.78 15.1193 15.9345 15.1165 16.0912C15.1138 16.2478 15.1431 16.4034 15.2028 16.5486C15.2624 16.6938 15.3511 16.8258 15.4635 16.9366C15.576 17.0473 15.71 17.1347 15.8574 17.1934C16.0049 17.2521 16.1629 17.281 16.3219 17.2783C16.481 17.2756 16.6378 17.2414 16.7832 17.1778C16.9285 17.1141 17.0594 17.0223 17.168 16.9078L19.0182 15.0879L23.7593 19.7526L21.3258 22.1516C21.2095 22.2585 21.1163 22.3874 21.0517 22.5305C20.9871 22.6737 20.9524 22.8282 20.9496 22.9848C20.9469 23.1415 20.9762 23.297 21.0358 23.4423C21.0955 23.5875 21.1841 23.7194 21.2966 23.8302C21.4091 23.941 21.5431 24.0283 21.6905 24.087C21.838 24.1457 21.996 24.1746 22.155 24.1719C22.3141 24.1693 22.4709 24.1351 22.6163 24.0714C22.7616 24.0078 22.8925 23.916 23.001 23.8015L25.4346 21.4048L30.1757 26.0741L28.3255 27.8963C28.2092 28.0032 28.116 28.1321 28.0514 28.2753C27.9868 28.4184 27.9521 28.5729 27.9493 28.7295C27.9466 28.8862 27.9759 29.0417 28.0356 29.187C28.0952 29.3322 28.1839 29.4641 28.2963 29.5749C28.4088 29.6857 28.5428 29.773 28.6902 29.8317C28.8377 29.8905 28.9957 29.9193 29.1547 29.9167C29.3138 29.914 29.4706 29.8798 29.616 29.8161C29.7613 29.7525 29.8922 29.6607 30.0008 29.5462L31.851 27.724L36.5898 32.3933L34.1586 34.79C34.0423 34.8969 33.9491 35.0258 33.8845 35.1689C33.8199 35.3121 33.7852 35.4665 33.7824 35.6232C33.7797 35.7798 33.809 35.9354 33.8686 36.0806C33.9283 36.2259 34.0169 36.3578 34.1294 36.4686C34.2419 36.5793 34.3759 36.6667 34.5233 36.7254C34.6708 36.7841 34.8288 36.813 34.9878 36.8103C35.1469 36.8076 35.3037 36.7734 35.4491 36.7098C35.5944 36.6462 35.7253 36.5544 35.8338 36.4399L38.2674 34.0432L43.0062 38.7125L41.1583 40.5347C41.042 40.6416 40.9488 40.7705 40.8842 40.9136C40.8196 41.0568 40.7849 41.2113 40.7821 41.3679C40.7794 41.5245 40.8087 41.6801 40.8684 41.8253C40.928 41.9706 41.0167 42.1025 41.1291 42.2133C41.2416 42.3241 41.3756 42.4114 41.523 42.4701C41.6705 42.5288 41.8285 42.5577 41.9875 42.555C42.1466 42.5523 42.3034 42.5182 42.4488 42.4545C42.5941 42.3909 42.725 42.2991 42.8336 42.1846L44.6838 40.3623L49.4226 45.0316L46.9914 47.4283C46.8751 47.5353 46.7819 47.6641 46.7173 47.8073C46.6527 47.9504 46.618 48.1049 46.6152 48.2615C46.6125 48.4182 46.6418 48.5738 46.7015 48.719C46.7611 48.8642 46.8498 48.9962 46.9622 49.1069C47.0747 49.2177 47.2087 49.3051 47.3561 49.3638C47.5036 49.4225 47.6616 49.4514 47.8206 49.4487C47.9797 49.446 48.1365 49.4118 48.2819 49.3482C48.4272 49.2845 48.5581 49.1927 48.6666 49.0782L51.1002 46.6815L55.839 51.3508L53.9911 53.173C53.8748 53.28 53.7816 53.4088 53.717 53.552C53.6524 53.6951 53.6177 53.8496 53.6149 54.0063C53.6122 54.1629 53.6415 54.3185 53.7012 54.4637C53.7608 54.6089 53.8495 54.7409 53.9619 54.8517C54.0744 54.9624 54.2084 55.0498 54.3559 55.1085C54.5033 55.1672 54.6613 55.1961 54.8203 55.1934C54.9794 55.1907 55.1362 55.1565 55.2816 55.0929C55.4269 55.0292 55.5578 54.9374 55.6664 54.8229L57.5166 53.0007L62.2554 57.67L59.8242 60.0667C59.7079 60.1736 59.6147 60.3025 59.5501 60.4456C59.4855 60.5888 59.4508 60.7433 59.448 60.8999C59.4453 61.0565 59.4746 61.2121 59.5343 61.3574C59.5939 61.5026 59.6826 61.6345 59.795 61.7453C59.9075 61.8561 60.0415 61.9434 60.1889 62.0021C60.3364 62.0608 60.4944 62.0897 60.6534 62.087C60.8125 62.0844 60.9693 62.0502 61.1147 61.9865C61.26 61.9229 61.3909 61.8311 61.4995 61.7166L63.933 59.3199L64.563 59.9403C64.9298 60.3003 65.1798 60.7594 65.2814 61.2595C65.3829 61.7596 65.3315 62.2781 65.1336 62.7493C64.9357 63.2206 64.6003 63.6234 64.1697 63.9067C63.7391 64.19 63.2329 64.3411 62.7151 64.3408H7.77668C6.9518 64.3408 6.16071 64.0181 5.57743 63.4436C4.99415 62.8692 4.66647 62.0901 4.66647 61.2777V7.1717Z"
            fill="#BBC274"></path>
        </svg>

        <HeadingThree h3="Pomiar i konsultacja" />
        <p>
          Po akceptacji wstępnej wyceny, umówimy się na pomiary i wybór
          materiałów. Przygotujemy projekt z wizualizacją 3D, a także
          fotorealistyczną wizualizację, jeśli Państwo sobie życzą.
        </p>
      </div>

      <div class="md:row-end-3 md:col-span-3 lg:col-span-2">
        <svg
          width="70"
          height="70"
          viewBox="0 0 87 87"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M73.8509 17.88L53.0852 10.9695H52.843C52.6819 10.9533 52.5195 10.9533 52.3584 10.9695H50.8702L31.212 17.7073L11.5539 10.9695C11.0334 10.7981 10.4796 10.7526 9.93807 10.8367C9.39654 10.9208 8.88276 11.1321 8.43901 11.4532C7.99171 11.7711 7.6266 12.1908 7.37385 12.6774C7.12109 13.1641 6.98795 13.7038 6.98541 14.252V62.626C6.98354 63.3504 7.20974 64.0571 7.63206 64.6461C8.05437 65.2351 8.65144 65.6768 9.33885 65.9086L30.1045 72.8191C30.8017 73.0461 31.5531 73.0461 32.2503 72.8191L51.9777 66.2541L71.6359 72.9919C72.0034 73.0417 72.3759 73.0417 72.7434 72.9919C73.4671 73.0021 74.1734 72.771 74.7508 72.3354C75.1981 72.0175 75.5632 71.5978 75.8159 71.1112C76.0687 70.6245 76.2018 70.0848 76.2044 69.5366V21.1626C76.2062 20.4382 75.98 19.7315 75.5577 19.1425C75.1354 18.5535 74.5383 18.1118 73.8509 17.88ZM27.7511 64.7338L13.9073 60.1382V19.0548L27.7511 23.6504V64.7338ZM48.5168 60.1382L34.673 64.7338V23.6504L48.5168 19.0548V60.1382ZM69.2825 64.7338L55.4387 60.1382V19.0548L69.2825 23.6504V64.7338Z"
            fill="#BBC274"></path>
        </svg>

        <HeadingThree h3="Oferta" />
        <p>
          Po pomiarach i konsultacji przygotujemy szczegółową wycenę końcową z
          wykazem użytych materiałów. Przekażemy ją do akceptacji i ewentualnych
          zmian.
        </p>
      </div>
    </div>

    <a
      href="how-we-work"
      class="bg-main px-6 py-4 rounded-md border-2 border-second w-full block text-center cursor-pointer md:w-auto md:inline-block hover:bg-white transition-all duration-200 md:mt-10"
      >Czytaj Całość</a
    >

    <span
      class="hidden lg:block absolute font-black text-6xl text-main right-0 top-0 -z-10"
    >
      <svg
        width="286"
        height="525"
        viewBox="0 0 286 525"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M47.5406 350.265C57.383 313.532 67.531 287.944 77.9847 273.5C88.4383 259.056 106.152 244.963 131.126 231.222C152.844 219.543 169.864 208.92 182.186 199.351C194.507 189.782 202.727 177.277 206.846 161.835C211.828 143.242 210.147 126.266 201.803 110.907C193.459 95.5482 178.915 85.0893 158.169 79.5306C136.595 73.7497 118.323 76.3876 103.354 87.4442C88.3858 98.5008 76.6222 110.659 68.0635 123.919L10.7253 76.4766C27.3857 49.8338 50.4162 29.0292 79.8169 14.0629C109.218 -0.903438 141.897 -3.56921 177.854 6.06557C222.272 17.9674 252.881 40.3906 269.679 73.3353C286.478 106.28 289.89 141.334 279.914 178.497C273.838 201.172 264.099 219.345 250.696 233.019C237.293 246.692 218.122 261.113 193.183 276.284C166.743 292.043 149.817 304.889 142.404 314.821C134.991 324.752 127.694 343.085 120.513 369.818L47.5406 350.265ZM39.3308 523.042C25.3708 519.301 14.851 510.776 7.7714 497.467C0.691757 484.158 -0.849154 470.009 3.14867 455.021C7.1465 440.033 15.5528 428.56 28.3676 420.601C41.1824 412.641 54.5578 410.509 68.4936 414.205C82.4295 417.9 92.9553 426.436 100.071 439.814C107.187 453.191 108.722 467.328 104.676 482.225C100.63 497.122 92.2294 508.607 79.4749 516.68C66.7204 524.752 53.339 526.873 39.3308 523.042Z"
          fill="#BBC274"></path>
      </svg>
    </span>
  </div>
</Section>
