---
import HeadingTwo from "./ui/HeadingTwo.astro";
import HeadingThree from "./ui/HeadingThree.astro";
import Section from "./ui/Section.astro";
---

<Section>
  <div class="relative container flex flex-col items-center">
    <HeadingTwo class="text-center mb-5" h2="Tworzenie to <br/> nasza pasja" />
    <span class="mt-auto"><img class="mx-auto" src="/src/img/svg/wave.svg" width="80%" alt="" /></span>
    <p class="text-center mt-7">
      Chcemy, aby nasze meble służyły Ci przez długie lata! Dlatego projektujemy
      je z dbałością o najmniejsze szczegóły, przykładamy wagę do materiałów, z
      których je wykonujemy, pracujemy wytrwale nad ich niezawodnością i
      ergonomią.
    </p>
  </div>
</Section>
