<!-- <div class="absolute bottom-[0]">
  <img src="/src/img/svg/line1.svg" alt="">
</div>
<div class="absolute right-0 top-0">
  <img src="/src/img/svg/line2.svg" alt="">
</div> -->
<!-- <div class="max-w-[1535px] mx-auto w-full px-6 md:px-12 lg:px-4">
  <slot />
</div> -->