---
import { Image } from "astro:assets";
import logo2 from "../../img/svg/logo2.svg";

---

<footer class="bg-main">
  <div class="container flex flex-col md:flex-row md:justify-between py-12">
    <a href="/">
      <Image
        src={logo2}
        height="120"
        width="120"
        alt="logo kuba meble zrobić ci kuchnię?"
      />
    </a>
    <div class="flex flex-col md:flex-row">
      <ul class="md:mr-20 my-5 md:my-0">
        <li class="font-bold">Prawo</li>
        <li><a class="hover:underline" href="/polityka-prywatnosci">Polityka prywatności</a></li>
        <li><a class="hover:underline" href="/polityka-cookie">Polityka cookie</a></li>
      </ul>
      <ul>
        <li class="font-bold">Podstrony</li>
        <li><a class="hover:underline" href="/#jakpracujemy">Jak pracujemy</a></li>
        <li><a class="hover:underline" href="/realizacje">Realizacje</a></li>
        <li><a class="hover:underline" href="/#kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>
  <div class="border-t border-second">
    <div
      class="container flex flexc-cols md:flex-row justify-between py-12 md:items-center"
    >
      <p>
        © <span class="year"></span> KUBA MEBLE <span class="block md:hidden"
        ></span> Wszelkie prawa zastrzeżone.
      </p>
      <a href="https://zonka.software" target="_blank" class="uppercase font-black tracking-widest"
        >zonka</a
      >
    </div>
  </div>
</footer>

<script>
  const text = document.querySelector(".year");
  const currentDate = new Date();
  const currentYear = currentDate.getFullYear();
  text.textContent = ` ${currentYear}`;
</script>
