<footer class="bg-main">
  <div class="container flex flex-col md:flex-row md:justify-between py-12">
    <a href="/">
      <svg
        width="170"
        height="170"
        viewBox="0 0 763 415"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="418" width="30" height="270" rx="6" fill="#231F20"></rect>
        <rect x="374" y="36" width="25" height="224" rx="6" fill="#231F20"
        ></rect>
        <rect x="330" y="73" width="23" height="179" rx="6" fill="#231F20"
        ></rect>
        <rect x="296" y="99" width="15" height="146" rx="5" fill="#231F20"
        ></rect>
        <rect x="262" y="124" width="12" height="114" rx="4" fill="#231F20"
        ></rect>
        <rect x="231" y="147" width="9" height="84" rx="3" fill="#231F20"
        ></rect>
        <rect x="206" y="166" width="7" height="61" rx="3" fill="#231F20"
        ></rect>
        <path
          d="M71.0701 304.324H86.1111V322.719L101.883 304.324H121.871L104.14 322.686L122.668 353H104.14L93.8806 332.979L86.1111 341.113V353H71.0701V304.324ZM173.604 304.324H188.612V333.344C188.612 336.221 188.158 338.944 187.25 341.512C186.365 344.057 184.959 346.293 183.034 348.219C181.13 350.122 179.127 351.462 177.024 352.236C174.102 353.321 170.594 353.863 166.499 353.863C164.13 353.863 161.54 353.697 158.729 353.365C155.94 353.033 153.605 352.38 151.723 351.406C149.842 350.41 148.115 349.005 146.543 347.189C144.994 345.374 143.931 343.504 143.356 341.578C142.426 338.479 141.961 335.734 141.961 333.344V304.324H156.969V334.041C156.969 336.697 157.7 338.778 159.161 340.283C160.644 341.766 162.691 342.508 165.303 342.508C167.893 342.508 169.918 341.777 171.379 340.316C172.862 338.833 173.604 336.742 173.604 334.041V304.324ZM212.886 304.324H241.042C245.735 304.324 249.332 305.486 251.833 307.811C254.357 310.135 255.618 313.012 255.618 316.443C255.618 319.321 254.722 321.789 252.929 323.848C251.734 325.22 249.985 326.305 247.683 327.102C251.18 327.943 253.748 329.393 255.386 331.451C257.046 333.488 257.876 336.055 257.876 339.154C257.876 341.678 257.29 343.947 256.116 345.961C254.943 347.975 253.338 349.569 251.302 350.742C250.04 351.473 248.137 352.004 245.591 352.336C242.204 352.779 239.958 353 238.851 353H212.886V304.324ZM228.06 323.416H234.601C236.947 323.416 238.574 323.018 239.482 322.221C240.411 321.402 240.876 320.229 240.876 318.701C240.876 317.285 240.411 316.178 239.482 315.381C238.574 314.584 236.98 314.186 234.7 314.186H228.06V323.416ZM228.06 342.541H235.73C238.32 342.541 240.146 342.087 241.208 341.18C242.271 340.25 242.802 339.01 242.802 337.461C242.802 336.022 242.271 334.871 241.208 334.008C240.168 333.122 238.331 332.68 235.696 332.68H228.06V342.541ZM308.812 344.965H291.68L289.322 353H273.949L292.244 304.324H308.646L326.941 353H311.203L308.812 344.965ZM305.658 334.439L300.279 316.941L294.934 334.439H305.658ZM382.894 304.324H402.683L410.32 333.941L417.923 304.324H437.646V353H425.361V315.879L415.831 353H404.708L395.212 315.879V353H382.894V304.324ZM461.522 304.324H501.83V314.717H476.596V322.453H500.004V332.381H476.596V341.977H502.561V353H461.522V304.324ZM525.009 304.324H553.165C557.858 304.324 561.455 305.486 563.956 307.811C566.479 310.135 567.741 313.012 567.741 316.443C567.741 319.321 566.845 321.789 565.052 323.848C563.856 325.22 562.108 326.305 559.805 327.102C563.303 327.943 565.871 329.393 567.509 331.451C569.169 333.488 569.999 336.055 569.999 339.154C569.999 341.678 569.412 343.947 568.239 345.961C567.066 347.975 565.461 349.569 563.425 350.742C562.163 351.473 560.259 352.004 557.714 352.336C554.327 352.779 552.08 353 550.973 353H525.009V304.324ZM540.182 323.416H546.723C549.07 323.416 550.697 323.018 551.604 322.221C552.534 321.402 552.999 320.229 552.999 318.701C552.999 317.285 552.534 316.178 551.604 315.381C550.697 314.584 549.103 314.186 546.823 314.186H540.182V323.416ZM540.182 342.541H547.852C550.442 342.541 552.268 342.087 553.331 341.18C554.393 340.25 554.925 339.01 554.925 337.461C554.925 336.022 554.393 334.871 553.331 334.008C552.29 333.122 550.453 332.68 547.819 332.68H540.182V342.541ZM592.181 304.324H607.222V341.014H630.697V353H592.181V304.324ZM651.783 304.324H692.092V314.717H666.858V322.453H690.266V332.381H666.858V341.977H692.823V353H651.783V304.324Z"
          fill="#231F20"></path>
        <path
          d="M90.4805 406H66.7205V402.88L80.0805 390.28H68.1605V385.36H90.4805V388.28L76.9605 400.92H90.4805V406ZM132.746 406H123.266L114.946 398.76H111.546V406H105.226V385.36H123.706C125.466 385.36 126.773 385.653 127.626 386.24C128.639 386.933 129.146 388.12 129.146 389.8V394.32C129.146 396.107 128.573 397.333 127.426 398C126.573 398.507 125.173 398.76 123.226 398.76L132.746 406ZM122.906 393.24V390.92C122.906 390.413 122.506 390.16 121.706 390.16H111.546V394H121.706C122.506 394 122.906 393.747 122.906 393.24ZM172.296 400.72C172.296 402.853 171.83 404.293 170.896 405.04C170.096 405.68 168.59 406 166.376 406H151.176C148.963 406 147.456 405.68 146.656 405.04C145.723 404.293 145.256 402.853 145.256 400.72V390.64C145.256 388.507 145.723 387.067 146.656 386.32C147.456 385.68 148.963 385.36 151.176 385.36H166.376C168.59 385.36 170.096 385.68 170.896 386.32C171.83 387.067 172.296 388.507 172.296 390.64V400.72ZM165.896 400.92V390.28H151.656V400.92H165.896ZM213.294 401.52C213.294 404.507 211 406 206.414 406H189.214V385.36H207.694C209.454 385.36 210.76 385.653 211.614 386.24C212.627 386.933 213.134 388.12 213.134 389.8V392.16C213.134 393.627 212.52 394.72 211.294 395.44C212.627 396.16 213.294 397.36 213.294 399.04V401.52ZM207.094 392.4V390.6C207.094 390.173 206.774 389.96 206.134 389.96H195.534V393.04H206.134C206.774 393.04 207.094 392.827 207.094 392.4ZM207.214 400.08V398.64C207.214 398.187 207.054 397.907 206.734 397.8C206.574 397.72 206.227 397.68 205.694 397.68H195.534V401.08H205.694C206.227 401.08 206.587 401.04 206.774 400.96C207.067 400.827 207.214 400.533 207.214 400.08ZM235.771 406H229.371V385.36H235.771V406ZM276.843 400.72C276.843 402.853 276.376 404.293 275.443 405.04C274.643 405.68 273.136 406 270.923 406H258.603C256.39 406 254.883 405.68 254.083 405.04C253.15 404.293 252.683 402.853 252.683 400.72V390.64C252.683 388.507 253.15 387.067 254.083 386.32C254.883 385.68 256.39 385.36 258.603 385.36H270.923C273.136 385.36 274.643 385.68 275.443 386.32C276.376 387.067 276.843 388.507 276.843 390.64V393.08L270.443 394.04V390.28H259.083V400.92H270.443V396.6L276.843 397.84V400.72ZM341.143 400.72C341.143 402.853 340.676 404.293 339.743 405.04C338.943 405.68 337.436 406 335.223 406H322.903C320.69 406 319.183 405.68 318.383 405.04C317.45 404.293 316.983 402.853 316.983 400.72V390.64C316.983 388.507 317.45 387.067 318.383 386.32C319.183 385.68 320.69 385.36 322.903 385.36H335.223C337.436 385.36 338.943 385.68 339.743 386.32C340.676 387.067 341.143 388.507 341.143 390.64V393.08L334.743 394.04V390.28H323.383V400.92H334.743V396.6L341.143 397.84V400.72ZM364.254 406H357.854V385.36H364.254V406ZM433.715 406H423.195L411.915 398.32V406H405.475V385.36H411.915V392.6L422.275 385.36H432.035L417.235 395.12L433.715 406ZM469.028 400.72C469.028 402.853 468.561 404.293 467.628 405.04C466.828 405.68 465.321 406 463.108 406H450.068C447.855 406 446.348 405.68 445.548 405.04C444.615 404.293 444.148 402.853 444.148 400.72V385.36H450.548V400.92H462.628V385.36H469.028V400.72ZM510.096 400.72C510.096 402.853 509.629 404.293 508.696 405.04C507.896 405.68 506.389 406 504.176 406H491.856C489.643 406 488.136 405.68 487.336 405.04C486.403 404.293 485.936 402.853 485.936 400.72V390.64C485.936 388.507 486.403 387.067 487.336 386.32C488.136 385.68 489.643 385.36 491.856 385.36H504.176C506.389 385.36 507.896 385.68 508.696 386.32C509.629 387.067 510.096 388.507 510.096 390.64V393.08L503.696 394.04V390.28H492.336V400.92H503.696V396.6L510.096 397.84V400.72ZM553.047 406H546.607V397.76H533.207V406H526.807V385.36H533.207V392.8H546.607V385.36H553.047V406ZM596.243 406H591.883L576.483 393.96C576.429 393.933 576.349 393.88 576.243 393.8C576.269 394.12 576.283 394.387 576.283 394.6V406H570.363V385.36H574.723L589.483 396.8C589.669 396.96 589.963 397.187 590.363 397.48C590.363 397.347 590.363 397.147 590.363 396.88C590.336 396.587 590.323 396.373 590.323 396.24V385.36H596.243V406ZM619.968 406H613.568V385.36H619.968V406ZM660.24 406H637.32V385.36H660.04V390.12H643.72V392.88H653.24V397.64H643.72V400.92H660.24V406ZM693.915 393.12L686.915 396.92V398.24H681.195V394.4L688.115 390.52V390H680.515V392.56L674.875 391.72V390.04C674.875 386.92 676.582 385.36 679.995 385.36H688.155C691.995 385.36 693.915 386.8 693.915 389.68V393.12ZM687.875 404C687.875 404.933 687.702 405.52 687.355 405.76C687.115 405.92 686.475 406 685.435 406H681.915C681.195 406 680.715 405.853 680.475 405.56C680.235 405.24 680.115 404.72 680.115 404V401.2C680.115 400.267 680.289 399.68 680.635 399.44C680.875 399.28 681.515 399.2 682.555 399.2H686.115C686.835 399.2 687.302 399.36 687.515 399.68C687.755 399.973 687.875 400.48 687.875 401.2V404Z"
          fill="#231F20"></path>
        <path
          d="M652.809 404H642.945V386.864H652.809V389.84H646.569V393.608H652.377V396.584H646.569V401H652.809V404ZM650.529 406.664C650.529 406.984 650.617 407.224 650.793 407.384C650.969 407.544 651.193 407.624 651.465 407.624C651.721 407.624 651.969 407.6 652.209 407.552C652.449 407.504 652.649 407.456 652.809 407.408V409.496C652.553 409.56 652.281 409.616 651.993 409.664C651.705 409.728 651.369 409.76 650.985 409.76C650.393 409.76 649.873 409.64 649.425 409.4C648.993 409.176 648.657 408.864 648.417 408.464C648.177 408.064 648.057 407.6 648.057 407.072C648.057 406.608 648.177 406.16 648.417 405.728C648.657 405.296 648.969 404.896 649.353 404.528C649.753 404.176 650.201 403.864 650.697 403.592L652.257 404C651.713 404.512 651.289 404.976 650.985 405.392C650.681 405.824 650.529 406.248 650.529 406.664Z"
          fill="#231F20"></path>
        <line
          x1="265.805"
          y1="377.803"
          x2="271.805"
          y2="366.803"
          stroke="#231F20"
          stroke-width="5"></line>
      </svg>
    </a>
    <div class="flex flex-col md:flex-row">
      <ul class="md:mr-20 my-5 md:my-0 space-y-2">
        <li class="font-bold">Prawo</li>
        <li>
          <a class="hover:underline" href="/privacy">Polityka prywatności</a>
        </li>
        <li>
          <a class="hover:underline" href="/cookies">Polityka cookie</a>
        </li>
      </ul>
      <ul class="space-y-2">
        <li class="font-bold">Podstrony</li>
        <li>
          <a class="hover:underline" href="/#how-we-work">Jak pracujemy</a>
        </li>
        <li><a class="hover:underline" href="/realizations">Realizacje</a></li>
        <li><a class="hover:underline" href="/#contact">Kontakt</a></li>
      </ul>
    </div>
  </div>
  <div class="border-t border-second">
    <div
      class="container flex flexc-cols md:flex-row justify-between py-12 md:items-center"
    >
      <small>
        © {new Date().getFullYear()} KUBA MEBLE <span class="block md:hidden"
        ></span> Wszelkie prawa zastrzeżone.
      </small>
      <a
        href="https://zonka.software"
        target="_blank"
        class="uppercase font-black tracking-widest"
        ><svg
          width="83"
          height="13"
          viewBox="0 0 83 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_60_162)">
            <path
              d="M4.47877 9.53479H9.28325V12.4801H0.317139V9.70119L5.05395 3.62759H0.317139V0.698948H9.28325V3.47783L4.47877 9.53479ZM21.8846 12.5965C20.7568 12.5965 19.7192 12.3359 18.7718 11.8145C17.8357 11.2931 17.0914 10.572 16.5388 9.65127C15.9861 8.7305 15.7098 7.69331 15.7098 6.53959C15.7098 5.38586 15.9861 4.34866 16.5388 3.42791C17.0914 2.50716 17.8357 1.79164 18.7718 1.28135C19.7192 0.75996 20.7568 0.499268 21.8846 0.499268C23.0124 0.499268 24.0444 0.75996 24.9805 1.28135C25.9165 1.79164 26.6553 2.50716 27.1966 3.42791C27.7492 4.34866 28.0256 5.38586 28.0256 6.53959C28.0256 7.69331 27.7492 8.7305 27.1966 9.65127C26.6553 10.572 25.9109 11.2931 24.9635 11.8145C24.0274 12.3359 23.0011 12.5965 21.8846 12.5965ZM21.8846 9.15207C22.629 9.15207 23.2042 8.91911 23.6102 8.45319C24.0162 7.97619 24.2192 7.33831 24.2192 6.53959C24.2192 5.72979 24.0162 5.09191 23.6102 4.62599C23.2042 4.14898 22.629 3.91047 21.8846 3.91047C21.1289 3.91047 20.5482 4.14898 20.1421 4.62599C19.7361 5.09191 19.5331 5.72979 19.5331 6.53959C19.5331 7.33831 19.7361 7.97619 20.1421 8.45319C20.5482 8.91911 21.1289 9.15207 21.8846 9.15207ZM45.9423 12.4801H42.1867L38.2111 6.55623V12.4801H34.4555V0.698948H38.2111L42.1867 6.72263V0.698948H45.9423V12.4801ZM59.955 12.4801L56.4701 7.37159V12.4801H52.7142V0.698948H56.4701V5.65767L59.9043 0.698948H64.1505L60.0227 6.33991L64.4212 12.4801H59.955ZM78.2404 10.6996H74.2479L73.6558 12.4801H69.7141L74.0957 0.698948H78.4265L82.7911 12.4801H78.8325L78.2404 10.6996ZM77.3269 7.92071L76.2442 4.64263L75.1615 7.92071H77.3269Z"
              fill="#2B2A28"></path>
          </g>
          <defs>
            <clipPath id="clip0_60_162">
              <rect width="83" height="13" fill="white"></rect>
            </clipPath>
          </defs>
        </svg></a
      >
    </div>
  </div>
</footer>
