<nav class="fixed top-0 w-full bg-white shadow-md py-2 md:py-4 z-50">
  <div class="container flex justify-between items-center">
    <a href="/">
      <svg
        width="180"
        height="120"
        viewBox="0 0 763 415"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="418" width="30" height="270" rx="6" fill="#BBC274"></rect>
        <rect x="374" y="36" width="25" height="224" rx="6" fill="#BBC274"
        ></rect>
        <rect x="330" y="73" width="23" height="179" rx="6" fill="#BBC274"
        ></rect>
        <rect x="296" y="99" width="15" height="146" rx="5" fill="#231F20"
        ></rect>
        <rect x="262" y="124" width="12" height="114" rx="4" fill="#231F20"
        ></rect>
        <rect x="231" y="147" width="9" height="84" rx="3" fill="#231F20"
        ></rect>
        <rect x="206" y="166" width="7" height="61" rx="3" fill="#231F20"
        ></rect>
        <path
          d="M71.0701 304.324H86.1111V322.719L101.883 304.324H121.871L104.14 322.686L122.668 353H104.14L93.8806 332.979L86.1111 341.113V353H71.0701V304.324ZM173.604 304.324H188.612V333.344C188.612 336.221 188.158 338.944 187.25 341.512C186.365 344.057 184.959 346.293 183.034 348.219C181.13 350.122 179.127 351.462 177.024 352.236C174.102 353.321 170.594 353.863 166.499 353.863C164.13 353.863 161.54 353.697 158.729 353.365C155.94 353.033 153.605 352.38 151.723 351.406C149.842 350.41 148.115 349.005 146.543 347.189C144.994 345.374 143.931 343.504 143.356 341.578C142.426 338.479 141.961 335.734 141.961 333.344V304.324H156.969V334.041C156.969 336.697 157.7 338.778 159.161 340.283C160.644 341.766 162.691 342.508 165.303 342.508C167.893 342.508 169.918 341.777 171.379 340.316C172.862 338.833 173.604 336.742 173.604 334.041V304.324ZM212.886 304.324H241.042C245.735 304.324 249.332 305.486 251.833 307.811C254.357 310.135 255.618 313.012 255.618 316.443C255.618 319.321 254.722 321.789 252.929 323.848C251.734 325.22 249.985 326.305 247.683 327.102C251.18 327.943 253.748 329.393 255.386 331.451C257.046 333.488 257.876 336.055 257.876 339.154C257.876 341.678 257.29 343.947 256.116 345.961C254.943 347.975 253.338 349.569 251.302 350.742C250.04 351.473 248.137 352.004 245.591 352.336C242.204 352.779 239.958 353 238.851 353H212.886V304.324ZM228.06 323.416H234.601C236.947 323.416 238.574 323.018 239.482 322.221C240.411 321.402 240.876 320.229 240.876 318.701C240.876 317.285 240.411 316.178 239.482 315.381C238.574 314.584 236.98 314.186 234.7 314.186H228.06V323.416ZM228.06 342.541H235.73C238.32 342.541 240.146 342.087 241.208 341.18C242.271 340.25 242.802 339.01 242.802 337.461C242.802 336.022 242.271 334.871 241.208 334.008C240.168 333.122 238.331 332.68 235.696 332.68H228.06V342.541ZM308.812 344.965H291.68L289.322 353H273.949L292.244 304.324H308.646L326.941 353H311.203L308.812 344.965ZM305.658 334.439L300.279 316.941L294.934 334.439H305.658ZM382.894 304.324H402.683L410.32 333.941L417.923 304.324H437.646V353H425.361V315.879L415.831 353H404.708L395.212 315.879V353H382.894V304.324ZM461.522 304.324H501.83V314.717H476.596V322.453H500.004V332.381H476.596V341.977H502.561V353H461.522V304.324ZM525.009 304.324H553.165C557.858 304.324 561.455 305.486 563.956 307.811C566.479 310.135 567.741 313.012 567.741 316.443C567.741 319.321 566.845 321.789 565.052 323.848C563.856 325.22 562.108 326.305 559.805 327.102C563.303 327.943 565.871 329.393 567.509 331.451C569.169 333.488 569.999 336.055 569.999 339.154C569.999 341.678 569.412 343.947 568.239 345.961C567.066 347.975 565.461 349.569 563.425 350.742C562.163 351.473 560.259 352.004 557.714 352.336C554.327 352.779 552.08 353 550.973 353H525.009V304.324ZM540.182 323.416H546.723C549.07 323.416 550.697 323.018 551.604 322.221C552.534 321.402 552.999 320.229 552.999 318.701C552.999 317.285 552.534 316.178 551.604 315.381C550.697 314.584 549.103 314.186 546.823 314.186H540.182V323.416ZM540.182 342.541H547.852C550.442 342.541 552.268 342.087 553.331 341.18C554.393 340.25 554.925 339.01 554.925 337.461C554.925 336.022 554.393 334.871 553.331 334.008C552.29 333.122 550.453 332.68 547.819 332.68H540.182V342.541ZM592.181 304.324H607.222V341.014H630.697V353H592.181V304.324ZM651.783 304.324H692.092V314.717H666.858V322.453H690.266V332.381H666.858V341.977H692.823V353H651.783V304.324Z"
          fill="#231F20"></path>
        <path
          d="M90.4805 406H66.7205V402.88L80.0805 390.28H68.1605V385.36H90.4805V388.28L76.9605 400.92H90.4805V406ZM132.746 406H123.266L114.946 398.76H111.546V406H105.226V385.36H123.706C125.466 385.36 126.773 385.653 127.626 386.24C128.639 386.933 129.146 388.12 129.146 389.8V394.32C129.146 396.107 128.573 397.333 127.426 398C126.573 398.507 125.173 398.76 123.226 398.76L132.746 406ZM122.906 393.24V390.92C122.906 390.413 122.506 390.16 121.706 390.16H111.546V394H121.706C122.506 394 122.906 393.747 122.906 393.24ZM172.296 400.72C172.296 402.853 171.83 404.293 170.896 405.04C170.096 405.68 168.59 406 166.376 406H151.176C148.963 406 147.456 405.68 146.656 405.04C145.723 404.293 145.256 402.853 145.256 400.72V390.64C145.256 388.507 145.723 387.067 146.656 386.32C147.456 385.68 148.963 385.36 151.176 385.36H166.376C168.59 385.36 170.096 385.68 170.896 386.32C171.83 387.067 172.296 388.507 172.296 390.64V400.72ZM165.896 400.92V390.28H151.656V400.92H165.896ZM213.294 401.52C213.294 404.507 211 406 206.414 406H189.214V385.36H207.694C209.454 385.36 210.76 385.653 211.614 386.24C212.627 386.933 213.134 388.12 213.134 389.8V392.16C213.134 393.627 212.52 394.72 211.294 395.44C212.627 396.16 213.294 397.36 213.294 399.04V401.52ZM207.094 392.4V390.6C207.094 390.173 206.774 389.96 206.134 389.96H195.534V393.04H206.134C206.774 393.04 207.094 392.827 207.094 392.4ZM207.214 400.08V398.64C207.214 398.187 207.054 397.907 206.734 397.8C206.574 397.72 206.227 397.68 205.694 397.68H195.534V401.08H205.694C206.227 401.08 206.587 401.04 206.774 400.96C207.067 400.827 207.214 400.533 207.214 400.08ZM235.771 406H229.371V385.36H235.771V406ZM276.843 400.72C276.843 402.853 276.376 404.293 275.443 405.04C274.643 405.68 273.136 406 270.923 406H258.603C256.39 406 254.883 405.68 254.083 405.04C253.15 404.293 252.683 402.853 252.683 400.72V390.64C252.683 388.507 253.15 387.067 254.083 386.32C254.883 385.68 256.39 385.36 258.603 385.36H270.923C273.136 385.36 274.643 385.68 275.443 386.32C276.376 387.067 276.843 388.507 276.843 390.64V393.08L270.443 394.04V390.28H259.083V400.92H270.443V396.6L276.843 397.84V400.72ZM341.143 400.72C341.143 402.853 340.676 404.293 339.743 405.04C338.943 405.68 337.436 406 335.223 406H322.903C320.69 406 319.183 405.68 318.383 405.04C317.45 404.293 316.983 402.853 316.983 400.72V390.64C316.983 388.507 317.45 387.067 318.383 386.32C319.183 385.68 320.69 385.36 322.903 385.36H335.223C337.436 385.36 338.943 385.68 339.743 386.32C340.676 387.067 341.143 388.507 341.143 390.64V393.08L334.743 394.04V390.28H323.383V400.92H334.743V396.6L341.143 397.84V400.72ZM364.254 406H357.854V385.36H364.254V406ZM433.715 406H423.195L411.915 398.32V406H405.475V385.36H411.915V392.6L422.275 385.36H432.035L417.235 395.12L433.715 406ZM469.028 400.72C469.028 402.853 468.561 404.293 467.628 405.04C466.828 405.68 465.321 406 463.108 406H450.068C447.855 406 446.348 405.68 445.548 405.04C444.615 404.293 444.148 402.853 444.148 400.72V385.36H450.548V400.92H462.628V385.36H469.028V400.72ZM510.096 400.72C510.096 402.853 509.629 404.293 508.696 405.04C507.896 405.68 506.389 406 504.176 406H491.856C489.643 406 488.136 405.68 487.336 405.04C486.403 404.293 485.936 402.853 485.936 400.72V390.64C485.936 388.507 486.403 387.067 487.336 386.32C488.136 385.68 489.643 385.36 491.856 385.36H504.176C506.389 385.36 507.896 385.68 508.696 386.32C509.629 387.067 510.096 388.507 510.096 390.64V393.08L503.696 394.04V390.28H492.336V400.92H503.696V396.6L510.096 397.84V400.72ZM553.047 406H546.607V397.76H533.207V406H526.807V385.36H533.207V392.8H546.607V385.36H553.047V406ZM596.243 406H591.883L576.483 393.96C576.429 393.933 576.349 393.88 576.243 393.8C576.269 394.12 576.283 394.387 576.283 394.6V406H570.363V385.36H574.723L589.483 396.8C589.669 396.96 589.963 397.187 590.363 397.48C590.363 397.347 590.363 397.147 590.363 396.88C590.336 396.587 590.323 396.373 590.323 396.24V385.36H596.243V406ZM619.968 406H613.568V385.36H619.968V406ZM660.24 406H637.32V385.36H660.04V390.12H643.72V392.88H653.24V397.64H643.72V400.92H660.24V406ZM693.915 393.12L686.915 396.92V398.24H681.195V394.4L688.115 390.52V390H680.515V392.56L674.875 391.72V390.04C674.875 386.92 676.582 385.36 679.995 385.36H688.155C691.995 385.36 693.915 386.8 693.915 389.68V393.12ZM687.875 404C687.875 404.933 687.702 405.52 687.355 405.76C687.115 405.92 686.475 406 685.435 406H681.915C681.195 406 680.715 405.853 680.475 405.56C680.235 405.24 680.115 404.72 680.115 404V401.2C680.115 400.267 680.289 399.68 680.635 399.44C680.875 399.28 681.515 399.2 682.555 399.2H686.115C686.835 399.2 687.302 399.36 687.515 399.68C687.755 399.973 687.875 400.48 687.875 401.2V404Z"
          fill="#231F20"></path>
        <path
          d="M652.809 404H642.945V386.864H652.809V389.84H646.569V393.608H652.377V396.584H646.569V401H652.809V404ZM650.529 406.664C650.529 406.984 650.617 407.224 650.793 407.384C650.969 407.544 651.193 407.624 651.465 407.624C651.721 407.624 651.969 407.6 652.209 407.552C652.449 407.504 652.649 407.456 652.809 407.408V409.496C652.553 409.56 652.281 409.616 651.993 409.664C651.705 409.728 651.369 409.76 650.985 409.76C650.393 409.76 649.873 409.64 649.425 409.4C648.993 409.176 648.657 408.864 648.417 408.464C648.177 408.064 648.057 407.6 648.057 407.072C648.057 406.608 648.177 406.16 648.417 405.728C648.657 405.296 648.969 404.896 649.353 404.528C649.753 404.176 650.201 403.864 650.697 403.592L652.257 404C651.713 404.512 651.289 404.976 650.985 405.392C650.681 405.824 650.529 406.248 650.529 406.664Z"
          fill="#231F20"></path>
        <line
          x1="265.805"
          y1="377.803"
          x2="271.805"
          y2="366.803"
          stroke="#231F20"
          stroke-width="5"></line>
      </svg>
    </a>

    <button class="btn md:hidden z-50 font-semibold uppercase tracking-wide">
      Menu
    </button>

    <div
      class="navLinks font-semibold uppercase tracking-wide fixed top-0 bottom-0 left-0 right-0 text-2xl bg-white flex flex-col items-center justify-center translate-y-[-150%] ease-in duration-300 overflow-hidden md:duration-0 md:translate-y-0 md:text-lg md:static md:flex-row"
    >
      <a
        class="nrav-link px-4 py-2 md:mt-0 mt-10 md:mr-10 hover:text-dark duration-200"
        href="/#how-we-work">Jak pracujemy</a
      >
      <a
        class="nav-link px-4 py-2 mt-10 md:mt-0 md:mr-10 hover:text-dark duration-200"
        href="/realizations">Realizacje</a
      >
      <a
        class="nav-link px-4 py-2 mt-10 md:mt-0 hover:text-dark duration-200"
        href="/#contact">Kontakt</a
      >

      <span class="absolute left-0 right-0 top-0 -z-10 md:hidden">
        <svg
          width="300"
          height="300"
          viewBox="0 0 523 401"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M200.627 55.5388C188.596 52.6812 161.462 56.5114 133.88 84.8007C45.7794 175.238 -13.4456 301.745 -32.6544 346.769C-34.1446 350.261 -36.4271 353.6 -39.3714 356.595C-42.3158 359.591 -45.8644 362.184 -49.8147 364.228C-53.7649 366.271 -58.0395 367.724 -62.3942 368.504C-66.749 369.284 -71.0987 369.376 -75.195 368.774C-79.2913 368.172 -83.054 366.888 -86.2682 364.996C-89.4824 363.104 -92.0852 360.64 -93.928 357.745C-95.7708 354.85 -96.8174 351.581 -97.0082 348.125C-97.1991 344.669 -96.5303 341.093 -95.04 337.601C-75.5289 291.951 -12.7667 156.243 84.7159 56.1841C126.912 12.8964 184.407 -7.04932 229.089 3.44019C251.376 8.66822 268.831 21.5517 276.092 40.7898C283.294 59.8661 279.609 82.7576 266.372 106.77C224.965 181.964 170.948 283.146 150.039 330.522C147.296 336.749 148.283 340.356 149.404 342.223C150.663 344.333 153.025 345.891 156.269 346.426C160.705 347.004 165.556 346.104 169.811 343.914C175.576 341.172 184.037 335.233 192.545 323.103C199.703 312.828 207.078 301.959 214.692 290.819C238.107 256.452 263.388 219.268 290.687 187.444C319.077 154.374 358.813 133.491 395.883 136.56C414.396 138.102 429.839 145.77 438.881 158.4C447.833 170.916 449.497 186.77 445.149 203.51C440.519 221.457 435.693 234.918 431.38 247.014L431.057 247.978C426.807 259.301 423.161 270.685 420.129 282.094C419.471 284.671 419.48 287.235 420.155 289.616C420.83 291.998 422.155 294.143 424.043 295.909C425.78 297.477 427.105 298.056 427.802 298.241C431.807 297.027 434.943 295.029 439.19 289.867C445.123 282.579 450.809 271.852 458.89 254.476C462.159 247.466 468.541 241.313 476.632 237.372C484.724 233.431 493.862 232.025 502.036 233.462C510.211 234.899 516.752 239.062 520.221 245.035C523.69 251.009 523.803 258.303 520.534 265.313C512.824 281.855 504.305 299.356 492.501 313.837C479.409 329.819 461.364 343.248 435.867 349.822C407.911 357.078 384.417 347.772 371.061 335.515C363.447 328.506 358.09 319.963 355.35 310.459C352.609 300.955 352.549 290.71 355.172 280.413C358.94 265.65 363.245 253.667 367.334 242.278L367.824 240.848C372.049 229.042 376.213 217.331 380.273 201.652C381.969 195.075 380.521 192.189 379.921 191.344C379.729 191.019 379.435 190.75 379.062 190.561C378.69 190.372 378.25 190.267 377.78 190.256C375.626 190.055 361.348 191.22 342.962 212.676C318.359 241.305 296.16 273.975 273.311 307.509C265.297 319.274 257.191 331.183 248.879 343.058C219.603 384.907 173.04 406.166 132.282 399.38C92.6101 392.784 70.4826 360.336 87.9254 320.776C110.015 270.688 165.354 167.183 206.508 92.4849C214.371 78.2025 214.056 69.3133 212.265 64.5686C211.443 62.3259 209.977 60.3513 207.972 58.7871C205.967 57.2229 203.473 56.1082 200.67 55.5231L200.627 55.5388ZM428.335 298.376L428.184 298.358C428.269 298.326 428.323 298.343 428.335 298.376Z"
            fill="#BBC274"></path>
        </svg>
      </span>
      <span class="absolute right-0 bottom-[-20%] -z-10 md:hidden">
        <svg
          width="500"
          height="500"
          viewBox="0 0 643 691"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_39_190)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M342.127 167.602C330.586 167.316 307.443 176.412 290.772 208.792C237.544 312.289 220.222 444.172 215.726 490.733C215.377 494.344 214.278 497.97 212.492 501.403C210.705 504.837 208.266 508.011 205.315 510.744C202.363 513.477 198.956 515.716 195.288 517.332C191.62 518.949 187.763 519.912 183.938 520.166C180.113 520.42 176.394 519.961 172.993 518.814C169.592 517.667 166.577 515.855 164.119 513.481C161.661 511.107 159.808 508.219 158.667 504.98C157.526 501.741 157.118 498.215 157.467 494.604C162.057 447.389 179.95 306.068 238.85 191.559C264.351 142.014 310.066 111.522 352.895 112.47C374.256 112.938 393.456 121.639 405.341 138.419C417.129 155.057 420.271 177.505 415.202 202.939C399.368 282.579 379.581 389.399 374.229 438.533C373.529 444.99 375.423 448.211 376.949 449.756C378.665 451.503 381.211 452.505 384.258 452.359C388.379 452.013 392.456 450.183 395.638 447.25C400.014 443.488 405.897 436.153 410.083 422.937C413.586 411.753 417.115 399.962 420.782 387.865C432.026 350.563 444.145 310.212 459.57 274.538C475.619 237.463 505.219 209.659 539.169 205.103C556.127 202.836 572.065 206.998 583.684 217.152C595.19 227.217 601.13 241.915 601.952 258.664C602.861 276.614 602.335 290.349 601.884 302.687L601.867 303.667C601.254 315.26 601.198 326.788 601.697 338.217C601.834 340.793 602.562 343.222 603.834 345.345C605.105 347.467 606.89 349.234 609.072 350.529C611.062 351.665 612.408 351.947 613.082 351.982C616.315 350.025 618.553 347.499 620.894 341.749C624.142 333.643 626.204 322.327 628.535 304.223C629.483 296.917 633.451 289.798 639.566 284.432C645.681 279.065 653.442 275.891 661.142 275.607C668.842 275.324 675.85 277.954 680.625 282.919C685.399 287.884 687.549 294.778 686.601 302.084C684.367 319.322 681.68 337.632 675.211 353.74C668.017 371.532 655.683 387.899 634.771 399.268C611.858 411.778 588.273 407.687 572.909 398.753C564.144 393.641 556.962 386.619 551.846 378.16C546.73 369.7 543.798 359.998 543.246 349.705C542.462 334.948 542.938 322.719 543.388 311.096L543.424 309.642C543.878 297.595 544.304 285.653 543.523 269.968C543.189 263.39 541.086 260.945 540.313 260.264C540.05 259.995 539.712 259.8 539.327 259.695C538.941 259.591 538.519 259.58 538.096 259.664C536.117 259.907 523.7 263.888 513.318 287.936C499.401 320.036 488.765 355.486 477.792 391.885C473.944 404.655 470.055 417.58 465.972 430.513C451.598 476.091 416.01 505.627 377.724 507.402C340.461 509.137 311.595 482.826 316.05 441.801C321.694 389.858 342.009 280.568 357.757 201.451C360.762 186.324 357.984 177.959 355.052 173.821C353.688 171.859 351.825 170.282 349.596 169.203C347.367 168.124 344.827 167.569 342.161 167.579L342.127 167.602ZM613.596 352.003L613.456 352.016C613.523 351.97 613.576 351.975 613.596 352.003Z"
              fill="#BBC274"></path>
          </g>
          <defs>
            <clipPath id="clip0_39_190">
              <rect
                width="574"
                height="483"
                fill="white"
                transform="translate(0 294.04) rotate(-34.8548)"></rect>
            </clipPath>
          </defs>
        </svg>
      </span>
    </div>
  </div>
</nav>

<div class="h-[115px] md:h-[130px]"></div>
<!-- INVINCIBLE BLOCK -->

<script>
  import { disablePageScroll, enablePageScroll } from "scroll-lock";

  const btn = document.querySelector(".btn");
  const navLinks = document.querySelector(".navLinks");
  const navLinkItems = document.querySelectorAll(".nav-link");

  const handleNav = () => {
    if (navLinks.classList.contains("translate-y-[-150%]")) {
      navLinks.classList.add("translate-y-0");
      navLinks.classList.remove("translate-y-[-150%]");
      disablePageScroll();
      btn.textContent = "Zamknij";
    } else {
      navLinks.classList.remove("translate-y-0");
      navLinks.classList.add("translate-y-[-150%]");
      enablePageScroll();
      btn.textContent = "Menu";
    }
  };

  btn.addEventListener("click", handleNav);
  navLinkItems.forEach((link) => link.addEventListener("click", handleNav));
</script>
