---
import { Image } from "astro:assets";
import logo from "../../img/logo.jpg";
import line1 from "../../img/svg/line1.svg";
import line2 from "../../img/svg/line2.svg";
---

<nav class="fixed top-0 w-full bg-white shadow-md py-2 md:py-4 z-50">
  <div class="container flex justify-between items-center">
    <a href="/">
      <Image
        src={logo}
        height="150"
        width="150"
        alt="logo kuba meble zrobić ci kuchnię?"
      />
    </a>

    <button class="btn md:hidden z-50 font-semibold uppercase tracking-wide">
      Menu
    </button>

    <div
      class="navLinks font-semibold uppercase tracking-wide fixed top-0 bottom-0 left-0 right-0 text-2xl bg-white flex flex-col items-center justify-center translate-y-[-150%] ease-in duration-300 overflow-hidden md:duration-0 md:translate-y-0 md:text-lg md:static md:flex-row"
    >
      <a
        class="nav-link px-4 py-2 md:mt-0 mt-10 md:mr-10 hover:text-dark duration-200"
        href="/#jakpracujemy"
        >Jak pracujemy</a
      >
      <a
        class="nav-link px-4 py-2 mt-10 md:mt-0 md:mr-10 hover:text-dark duration-200"
        href="/realizacje"
        >Realizacje</a
      >
      <a
        class="nav-link px-4 py-2 mt-10 md:mt-0 hover:text-dark duration-200"
        href="/#kontakt"
        >Kontakt</a
      >

      <span class="absolute left-0 right-0 top-0 -z-10 md:hidden">
        <Image src={line1} height="300" width="300" alt="" />
      </span>
      <span class="absolute right-0 bottom-[-20%] -z-10 md:hidden">
        <Image src={line2} height="500" width="500" alt="" />
      </span>
    </div>
  </div>
</nav>

<div class="h-[115px] md:h-[130px]"></div>
<!-- INVINCIBLE BLOCK -->

<script>
  import { disablePageScroll, enablePageScroll } from "scroll-lock";

  const btn = document.querySelector(".btn");
  const navLinks = document.querySelector(".navLinks");
  const navLinkItems = document.querySelectorAll(".nav-link");

  const handleNav = () => {
    if (navLinks.classList.contains("translate-y-[-150%]")) {
      navLinks.classList.add("translate-y-0");
      navLinks.classList.remove("translate-y-[-150%]");
      disablePageScroll();
      btn.textContent = "Zamknij";
    } else {
      navLinks.classList.remove("translate-y-0");
      navLinks.classList.add("translate-y-[-150%]");
      enablePageScroll();
      btn.textContent = "Menu";
    }
  };

  btn.addEventListener("click", handleNav);
  navLinkItems.forEach(link => link.addEventListener("click", handleNav));
</script>
